name: Testing a Website

on: 
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    build_website:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
            - name: Build the Website
              run: |
                yarn install
                yarn build
                ls -l
                if test -f "build/index.html"; then
                    echo "Test Passed"
                else
                    echo "Test Failed"
                fi
    linter:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4    
            - name: Run Linter Test
              run: |
                yarn install
                yarn lint

    test_website:
        runs-on: ubuntu-latest
        needs: build_website
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
            - name: Test the Website
              run: |
                yarn install
                yarn build
                ls -l
                yarn test

    deploy-to-s3:
        runs-on: aws-cli:2.18.10
        entrypoint: ""
        needs: build_website, test_website
        steps: 
          - uses: actions/checkout@v4
            run: |
                echo "You're in AWS Cli mode"
                aws --version
                echo "Hello S3" > test.txt
                aws s3 cp test.txt s3:::temp-terraform-s3bucket/test.txt

