name: Testing a Website

on: 
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    build_website:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
            - name: Build the Website
              run: |
                yarn install
                yarn build
                yarn lint
                ls -l
                if test -f "build/index.html"; then
                    echo "Test Passed"
                else
                    echo "Test Failed"
                fi
    linter:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4    
            - name: Run website Test
              run: |
                yarn install
                yarn lint

    test_website:
        runs-on: ubuntu-latest
        needs: build_website
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
            - name: Test the Website
              run: |
                yarn install
                yarn build
                ls -l
                yarn test

    deploy-to-s3:
        runs-on: ubuntu-latest
        needs: build_website
        steps: 
          - uses: actions/checkout@v4
          - uses: actions/setup-python@v2
            with:
                python-version: '3.10'
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install awscli
          - name: Run AWS CLI Commands
            run: |
                echo "You're in AWS Cli mode"
                aws --version
                echo "Hello S3" > test.txt
                ls -l
                aws s3 cp test.txt s3://temp-terraform-s3bucket/test.txt
            env: 
               AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
               AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
