name: Testing a Website

on: 
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    build_website:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
            - name: Install Yarn dependencies & Build the Website
              run: |
                yarn install
                yarn build

                ls
                cd build
                ls
            